body {
    margin: 10px;
}
.paging {
    list-style: none;
    display: flex;
    justify-content: center;
}
.paging * {
    padding: 10px;
}
li:hover {
    background-color: #dee2e6;
    border-radius: 100px;
}
.selected {
    background-color: #dee2e6;
    border-radius: 100px;
}
.filter-bar {
    display: flex;
    align-self: flex-end;
}
.list-page-wrapper {
    display: flex;
    flex-direction: column;
}
.single-item {
    justify-content: center;
    display: flex;
}
.new-record {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-top: 20px;
}
.new-record * {
    margin-bottom: 10px;
}
table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
}
.list-page-image {
    width: auto;
    max-height: 100px;
}
tr:hover {
    cursor: pointer;
}
td {
    vertical-align: middle;
    text-align: center;
}